{% extends "maqueta.html" %}
{% load static %}

{% block contenido %}
<nav class="menu">
    <a href="{% url 'index' %}">Inicio</a>
    <a href="#">Quienes Somos</a>
    <a href="#">Servicios</a>
    <a href="#">Contáctanos</a>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
</nav> 
<form class="registro" method="POST" enctype="multipart/form-data">
    <div class="registroContenedor">
        <div>
            <p class="formRegistro"><img src="{% static 'images/huella.png' %}" width="30"> Registro</p>
        </div>
        <table class="RegistroAdoptante">
        {% csrf_token %}
        <tr>
            <td>Nombre Usuario: </td><td class="inputRegistro">{{form.username}}</td>
        </tr>    
        <tr>
            <td>Contraseña: </td><td class="inputRegistro">{{form.password}}</td>
        </tr>
        <tr>
            <td>Repetir Contraseña: </td><td class="inputRegistro">{{form.password2}}</td>
        </tr>
        <tr>
            <td>Rut: </td><td class="inputRegistro">{{form.rut}}</td>
        <tr>
            <td>Nombre: </td><td class="inputRegistro">{{form.nombre}}</td>
        </tr>
        <tr>
            <td>Fecha Nacimiento: </td><td class="selectFecha">{{form.fechaNac}}</td>      
        </tr>
        <tr>
            <td>Teléfono: </td><td class="inputRegistro">{{form.telContacto}}</td>
        </tr>
        <tr>
            <td>Región: </td><td class="selectRegion">{{form.region}}</td>
        </tr>
        <tr>
            <td>Ciudad: </td><td class="selectCiudad">{{form.ciudad}}</td>
        </tr>
        <tr>
            <td>Tipo Vivienda: </td><td class="selectVivienda">{{form.tipoVivienda}}</td>
        </tr>  
    </table>
    <div>
        <button type="submit" class="btnConfirmar">Confirmar</button>
    </div>
</div>
</form>	
<script src="{% static 'js/validacionCaracteres.js' %}"></script>
<script src="{% static 'js/validacionCorreo.js' %}"></script>
<script src="{% static 'js/validacionFecha.js' %}"></script>
<script src="{% static 'js/validacionRut.js' %}"></script>
<script src="{% static 'js/capitalizar.js' %}"></script>
<script src="{% static 'js/comboRegiones.js' %}"></script>
<script src="{% static 'js/viviendas.js' %}"></script>
{% endblock %}