* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Código que indica las caracteristicas del contenedor, tamaño máximo y aplica flexbox para hacerlo responsive*/
.contenedor {
	background: #fff;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
}

/*Color de Fondo Predeterminado de la Página*/
body {
	background: #fff;
}

/*Características del Encabezado de la Página*/
header {
	background: #75d2b2;
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

/*Código Para dar las Caracteristicas al Logo de la Página*/
header .logo {
	color: #fff;
	font-size: 30px;
	margin: auto;
	padding: 15px;
}

header .logo img {
	width: 100%;
	vertical-align: top;
}

header .logo a {
	color: #fff;
	text-decoration: none;
	line-height: 50px;
}

/*Características del Menú de la Página*/
.menu {
	width: 100%;
	/* Flexbox */
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

/*Características visuales del Menú de la Página*/
.menu a {
	/*Poner el borde de los botones en blanco con border-buttom*/
	border-bottom: #75d2b2 2px solid;
	background: #66CDAA;
	color: #fff;
	text-align: center;
	text-decoration: none;
	padding: 10px;

	/* Flexbox */
	flex-grow: 1; /*Especifica el numero maximo de items flex que pueden adecuarse en una zona*/
}

.Bienvenido{
	text-align: end;
}

/*Código Para dar las Características al Contenedor del Carrusel*/
.carrusel {
	padding-top: 5px;
	background: #75d2b2;
	width: 100%;
}

/*Código para centrar redes sociales*/
.social {
	margin: auto;
	background: #75d2b2;
	padding: 5px;
	width: 100%;	
	text-align: center;
	flex-wrap: wrap;
}

.social li{
	display: inline;
	text-align: center;
}

/*Código Para Cambiar el Cursor las Redes Sociales*/
.social:hover {
    cursor:pointer;
}

div .links a {
	flex-grow: 1;
	color: #fff;
	padding: 10px;
	text-align: center;
	text-decoration: none;
}

/*Código Para Dar Tamaño y Orden a los Enlaces de las Redes Sociales*/
.fab {
	text-align: center;
	color: #66CDAA;
	width: 50px;
    height: 50px;
	padding: 12px;
    border-radius: 50%;
	font-size: 24px;
	padding-left: 14px;
	text-decoration: none;
}

/*Código Para Dar Tamaño y Orden al Enlace del Correo Eléctronico*/
.far {
	text-align: center;
	color: #66CDAA;
	width: 50px;
    height: 50px;
	padding: 17px;
	border-radius: 50%;
	font-size: 20px;
	padding-left: 16px;
	text-decoration: none;
}

/*Códigos Para Dar Tamaño y Orden a las Redes Sociales*/
.fa-facebook-f {
	background: #fff;
	margin: 7px;
}

.fa-twitter {
	background: #fff;
	margin: 7px;
}

.fa-instagram {
	background: #fff;
	margin: 7px;
}

.fa-envelope {
	background: #fff;
	margin: 7px;
}

/*Contenedor Publicidad Rescate*/
.publicidad {
	width: 100%;
}

/*Código Para Asignar las Cualidades a las Letras en la Palabra "RESCATE"*/
.rescate {
	width: 100%;
	background:#fff;
	color: #111;
	text-decoration: none;
	text-align: right;
	align-items: center;
	height: 40px;
	padding-top: 10px;
	padding-right: 35px;
	font-size: 20px;
	font-family: Helvetica Narrow, sans-serif;
}

/*Código Para Asignar las Cualidades a las Letras en la Palabra "ETAPA UNO"*/
.etapa {
	width: 100%;
	background: #fff;
	color: #9a9a9a;
	text-align: right;
	align-items: center;
	height: 25px;
	padding-right: 35px;
	font-size: 15px;
    font-family: Helvetica Narrow, sans-serif;
}

/*Código Para Asignar las Cualidades a la Línea Ubicada Después de la Palabra "ETAPA UNO"*/
.linea {
	width: 100%;
	background: #fff;
	color: #808080;
	text-align: right;
	align-items: center;
	height: 40px;
	padding-right: 35px;
	font-size: 15px;
	font-family: Helvetica Narrow, sans-serif;
}

/*Código Para Asignar las Cualidades al Primer Parrafo Ubicado Bajo la Primera Línea*/
.parrafo1 {
	width: 100%;
	background: #fff;
	color: #808080;
	text-align: right;
	padding-right: 35px;
	padding-left: 10px;
	align-items: center;
	height: 40px;
	font-size: 12px;
	font-family: Helvetica Narrow, sans-serif;
}

/*Propiedades Imagén Perro Rescate*/
.perro {
	width: 100%;
	padding: 40px;
}

/*Propiedades Para Dejar la Imagén del Perro Responsive*/
.perro img {
	width: 60%;
	float: right;
}

/*Propiedades Imagén Perro Rescate*/
.crowfunding {
	width: 100%;
	margin-bottom: 20px;
}

/*Propiedades Para Dejar la Imagén de crowfunding Responsive*/
.crowfunding img {
	width: 60%;
	float: left;
	padding: 40px;
}

/*Contenedor Públicidad Crowfunding*/
.financiamiento {
	width: 100%;
}

/*Código Para Asignar las Cualidades a las Letras en la Palabra "CROWFUNDING"*/
.textcrow {
	width: 100%;
	background: #fff;
	color: #111;
	text-decoration: none;
	padding-left: 10px;
	height: 40px;
	padding-top: 10px;
	font-size: 20px;
	font-family: Helvetica Narrow, sans-serif;
}

/*Código Para Asignar las Cualidades a las Letras en la Palabra "FINANCIAMIENTO"*/
.financiamiento {
	width: 100%;
	background: #fff;
	padding-left: 10px;
	color: #A9A9A9;
	height: 25px;
	font-size: 15px;
	font-family: Helvetica Narrow, sans-serif;
}

/*Código Para Asignar las Cualidades a la Línea Ubicada Después de la Palabra "FINANCIAMIENTO"*/
.linea2 {
	width: 100%;
	background: #fff;
	color: #808080;
	height: 40px;
	padding-left: 10px;
	font-size: 15px;
	font-family: Helvetica Narrow, sans-serif;
}

.publicidadAbajo{
	width: 100%;
	height: 210px;
}

/*Código Para Asignar las Cualidades al Segundo Parrafo Ubicado Bajo la Segunda Línea*/
.parrafo2 {
	width: 100%;
	background: #fff;
	color: #808080;
	margin-bottom: 35px;
	padding-left: 10px;
	padding-right: 30px;
	font-size: 13px;
	font-family: Helvetica Narrow, sans-serif;
}

/*Código Para dar Atributos Texto del Botón*/
.enlace {
	width: 140px; 
	padding: 6px;
	height: 40px;
    list-style: none;
	border: 3px solid #111;
    color: #111;
	font-size: 18px;
	font-family: Helvetica Narrow, sans-serif;
	font-weight: bolder;
}

/*Código Para dar Atributos al Botón*/
.boton{
	padding-left: 10px;
	text-align: center;
	width: 100%;
	display: flex;
}

/*Código Para dar Atributos al Botón*/
.contenedorCollage {
	width: 100%;
	display:flex;
	background: #75d2b2;
	margin-top: 20px;
}

/*Código Para Ajustar Caja Izquierda Collage*/
.cajaIzq {
	padding :5px;
    width: 100%;
}

/*Código Para Ajustar Caja Medio del Collage*/
.cajaMedio {
	padding: 5px;
    width: 100%;
	height: 60%;
}

/*Código Para Ajustar Caja Derecha del Collage*/
.cajaDer {
	padding: 5px;
    width: 100%;
	height: 60%;
}

/*Código Para dar Atributos a las Imágenes Caja Izquierda*/
.cajaIzq img {
	padding: 10px;
    width: 100%;
	height: 198px;
    overflow: hidden;
	justify-content:space-between;
	text-align: center;
}

/*Código Para dar Atributos a las Imágenes Caja Central*/
.cajaMedio img {
	padding: 10px;
    width: 100%;
	height: 300px;
	flex-direction: column;
	justify-content: space-between ;
}

/*Código Para dar Atributos a las Imágenes Caja Derecha*/
.cajaDer img {
	padding: 10px;
    width: 100%;
	height: 300px;
	flex-direction: column;
	justify-content: space-between;
}

/*Código Para dar Efecto de Zoom a las Imágenes del Collage*/
.contenedorCollage img:hover {
    transform:scale(1.5);
    transition:all ease 1.5s;
    cursor:pointer;
}

/*Código Para Cambiar el Cursor Sobre el Botón*/
.boton:hover {
    cursor:pointer;
}

/*Código Para el Último Texto*/
.end {
	width: 100%;
	background: rgb(206, 204, 204);
	color: #808080;
	height: 70px;
	padding-left: 30px;
	padding-top: 20px;
	font-size: 8px;
	font-family: Helvetica Narrow, sans-serif;
}

/*Código para darle estilos al texto de "olvidaste tú contraseña"*/
.contraseña{
	font-family: Helvetica Narrow, sans-serif;
	font-size: 12px;
	margin-top: 3px;
	font-weight: bold;
	text-align: right;
	margin-right: 35px;
}

/*Código para darle estilos al texto de recuperación de contraseña*/
.recupera{
	font-family: Helvetica Narrow, sans-serif;
	color: blue;
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 10px;
	text-align: right;
	margin-right: 40px;
	cursor: pointer;
}

/*Código para controlar los input*/


li label{
	margin-left: 20px;
}

.registro li input{
	margin: auto;
	width: 35%;
	margin-right: 120px;
}

/*Código para darle estilos al botón de iniciar sesión*/
.btnEnviar{
	margin: auto;
	background: #66CDAA;
	color: #fff;
	border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
}

/*Código para darle estilos al botón de confirmar*/
.btnConfirmar{
	margin: auto;
	background: #66CDAA;
	color: #fff;
	border: none;
	margin-top: 15px;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
}

/*Código para centrar el formulario de login*/
.login {
	width: 100%;
	padding: 5px;
	padding-top: 85px;
	padding-bottom: 140px;
	
	/*Flexbox*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

/*Código para centrar contenido del formulario login*/
.loginContenedor{
	padding-bottom: 10px;
	margin: auto;
	border: 4px solid #66CDAA;	
	text-align: center;
}

.usuario{
	text-align: end;
	margin-left: 20px;
}

.usuario input{
	width: 100px;
	margin-right: 20px;
}

.usuario label{
	width: 100px;
	margin-left: 20px;
}

.loginContenedor

/*Código para el texto de acceder*/
.acceso{
	width:100%;
	font-family: Helvetica Narrow, sans-serif;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #66CDAA;
}

.editarMascotas{
	width:100%;
	font-family: Helvetica Narrow, sans-serif;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #66CDAA;
}

.formRegistro{
	width:100%;
	font-family: Helvetica Narrow, sans-serif;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #66CDAA;
}

.formRegistrMascota{
	width:100%;
	font-family: Helvetica Narrow, sans-serif;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #66CDAA;
}

/*Código para centrar el formulario de registro*/
.registro{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: left;

	/*Flexbox*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.registroContenedor{
	padding-bottom: 15px;
	margin: auto;
	border: 4px solid #66CDAA;
	width: 600px;
	text-align: center;
}

.registroExitoso{
	padding-top: 20px;
	padding-left: 20px;
	font-family: Helvetica Narrow, sans-serif;
	text-align: center;
	font-weight: bold;
}

/*Código para darle estilos al texto registrarse*/
.registrate{
	font-family: Helvetica Narrow, sans-serif;
	color: blue;
	font-size: 12px;
	margin-top: 5px;
	margin: auto;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

.iniciarSesion{
	font-family: Helvetica Narrow, sans-serif;
	color: blue;
	font-size: 12px;
	margin-top: 5px;
	margin: auto;
	cursor: pointer;
	text-decoration: none;
}

.registrado{
	width:100%;
	margin-bottom: 350px;
	text-align: center;
}

.registro li{
	padding: 4px;
	font-family: Helvetica Narrow, sans-serif;
	list-style: none;
	text-align: left;
	margin-left: 70px;
}

/*Código para los datos del formulario, "usuario", "contraseña"*/
.login li{
	padding: 4px;
	width: 100%;
	text-align: end;
	font-family: Helvetica Narrow, sans-serif;
	list-style: none;
}

.bienvenido{
	width: 100%;
	background: #75d2b2;
	color: #fff;
	text-align: right;
	text-decoration: none;
	padding: 5px;
}

.user{
	color: #fff;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
	padding-right: 15px;
}

.usuario{
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
}

.mascotas li{
	padding: 4px;
	font-family: Helvetica Narrow, sans-serif;
	list-style: none;
	text-align: left;
	margin-left: 70px;
}

.mascotas{
	width: 100%;

	/*Flexbox*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mascotasEditar{
	width: 100%;
	padding-bottom: 20px;
	padding-top: 20px;

	/*Flexbox*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mascotasContenedor input{
	margin-right: 50px;
}

.mascotasContenedor{
	padding-bottom: 15px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 4px solid #66CDAA;
	width: 500px;
}

.registroMascotas{
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: end;
	padding:2px;
   	margin: 0 auto;
	margin-left: 80px;
}

.RegistroAdoptante{
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: end;
	padding:2px;
   	margin: 0 auto;
	margin-left: 100px;
}


.Inputs input{
	margin-right: 130px;
}

.InputsSelect select{
	margin-right: 215px;
}

.EstadoSelect select{
	margin-right: 135px;
}

.inputRegistro input{
	margin-right: 33px;
}

.selectFecha select{
	margin-right: 6.6px;
}

.selectRegion select{
	margin-right: 55px;
}

.selectCiudad select{
	margin-right: 129px;
}

.selectVivienda select{
	margin-right: 59px;
}

.imgMascota{
	width: 200px;
	height: 150px;
}

.imgMascotaEditar{
	width: 200px;
	height: 150px;
	margin-left: 140px;
}

.mascotasLista{
	width: 270px;
	padding: 5px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	list-style: none;
	font-size: 13px;
}

.mascotasListado{
	text-align: end;
	padding-left: 3.5px;
}
.mascotasListadoDatos {
	text-align: left;
}

.mascotasMuestra{
	padding: 15px;
	border: 4px solid #66CDAA;
	width: 260px;
	text-align: center;
	flex-grow: 3;
	list-style: none;
	margin-left: 90px;
}

.nomMascota{
	width: 260px;
	padding-top: 5px;
	margin-left: 90px;
	font-family: Helvetica Narrow, sans-serif;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #66CDAA;
}

.pagination{
	width: 100%;
	margin-top: 5px;
	font-weight: bold;
	text-align: center;
	font-family: Helvetica Narrow, sans-serif;
	font-size: 20px;
	color: #fff;
	background: #75d2b2;
	padding-top: 20px;
	padding-bottom: 20px;
}

.pagination-action{
	margin: 0 0.1em;
	display: inline-block;
	padding: 0.5em;
	font-size: 1.3em;
}

.lista{
	width:100%;
}

.listaMascotas{
	width:100%;
	font-family: Helvetica Narrow, sans-serif;
	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	margin-bottom: 5px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #75d2b2;
}

.btnOpcionSi{
	background: #0d3d6e;
	font-family: Helvetica Narrow, sans-serif;
	color: #fff;
	border: none;
    padding: 5px 15px;
    text-decoration: none;
	font-size: 13px;
	cursor: pointer;
}

.btnOpcionNo{
	background: grey;
	font-family: Helvetica Narrow, sans-serif;
	color: #fff;
	border: none;
    padding: 5px 15px;
    text-decoration: none;
	font-size: 13px;
	cursor: pointer;
}

.btnEditar{
	background: #0d3d6e;
	font-family: Helvetica Narrow, sans-serif;
	color: #fff;
	border: none;
    padding: 5px 25px;
    text-decoration: none;
	font-size: 13px;
	cursor: pointer;
}

.btnEliminar{
	background: grey;
	
	color: #fff;
	border: none;
    padding: 5px 15px;
    text-decoration: none;
	font-size: 13px;
	cursor: pointer;
}

.btnModificar{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	background: #0d3d6e;
	margin-top: 10px;
	font-family: Helvetica Narrow, sans-serif;
	color: #fff;
	border: none;
    padding: 5px 15px;
    text-decoration: none;
	font-size: 15px;
	cursor: pointer;
}

.btnCancelar{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	background: grey;
	margin-top: 10px;
	font-family: Helvetica Narrow, sans-serif;
	color: #fff;
	border: none;
    padding: 5px 15px;
    text-decoration: none;
	font-size: 15px;
	cursor: pointer;
}

.eliminar{
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 13px;
}

@media screen and (max-width: 800px) {
/*https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
.contenedor {
	flex-direction: column;
}

header {
	flex-direction: column;
	padding: 0;
}

header .logo {
	margin: 20px;
}

.menu {
	width: 100%;
	flex-direction: column;
}
	
/*Linea que indicara que se rellenara el espacio completo de los botones del menu*/
.menu a {
	width: 100%;
}

.registro li{
	font-family: Helvetica Narrow, sans-serif;
	list-style: none;
	width: 100%;
}

.registro li input{
	font-family: Helvetica Narrow, sans-serif;
	list-style: none;
}
}
